header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
    padding-top: 2rem;
}
.header-menu{
    display:none;
}
.fa-bars{
    color: var(--clr-light-accent);
    width: xx-large;
    display:block;
}
@media(min-width: 475px){
} 

@media(min-width: 640px){
 } 
  @media(min-width: 786px){
   
    
    .header-menu{
        display: flex;
        align-items: center;
        list-style: none;
        padding:0;
        gap:2rem;
    }
    
    .header-link{
        font-size: x-small;
        text-decoration: none;
        font-size: 600;
        color: var(--clr-light-accent)
    }
    
    .header-link:hover{
        color:var(--clr-200)
    }
    
    .header-line{
        border: 1px solid var(--clr-light-accent);
        padding-top: 1.3rem;
    }
    
    .fa-sun{
        color: var(--clr-light-accent);
        width: x-small;
    }
    
    .fa-bars{
        display:none;
    }
  } 

  @media(min-width: 1024px){
    .header-link{
        font-size: small;
        
    }
    
    .fa-sun{
        color: var(--clr-light-accent);
        width: medium;
    }
  } 

  @media(min-width: 1280px){
    .header-link{
        font-size: medium;
        
    }
    
    .fa-sun{
        color: var(--clr-light-accent);
        width: large;
    }
  } 

  @media(min-width: 1536px){
    .header-link{
        font-size: large;
        
    }
    
    .fa-sun{
        color: var(--clr-light-accent);
        width: xx-large;
    }
  }



